<html>
<head>
  <title></title>
</head>
<body ng-app="demo">
  <div ng-controller="DemoCtrl">
    <ng-decade
      ng-model="decadeCode"
      decade="fullDecade"
      utc="true"
    ></ng-decade>

    <p>Code <i>(yearSince1970 * 4 * 12 + month * 4 + decade)</i> = <input type="number" ng-model="decadeCode" /> </p>
    <p>Full = {{fullDecade}}</p>

  </div>

  <script src="./bower_components/moment/moment.js"></script>
  <script src="./bower_components/angular/angular.js"></script>
  <script src="./bower_components/ng-select-link/ng-select-link.js"></script>
  <script src="./angular-decade.js"></script>
  <script src="./demo.js"></script>
</body>
</html>